.page.m-5
  .message(*ngIf="!enterprisesService.getEnterprises()") Clique na busca para iniciar
  .enterprise.m-2(*ngFor='let enterprise of enterprisesService.getEnterprises()')
    .row.col-12.card.p-2((click)='seeDetails(enterprise.id)')
      .col-4
        img.img(*ngIf='enterprise.photo', [src]="'http://empresas.ioasys.com.br' + enterprise.photo")
        img.img(*ngIf='!enterprise.photo', src="../../../assets/icons/img-e-1-lista.png")
      .col-6
        .title {{enterprise.enterprise_name}}
        .type {{enterprise.enterprise_type.enterprise_type_name}}
        .country {{enterprise.country}}
