.page
  .message
    display flex
    align-items center
    justify-content center
    color: #383743
    font-size: 24px
  .card
    flex-direction row
  .title
    font-size 30px
    font-weight bold
  .type
    font-size 24px
  .country
    font-size 18px
 .img
    width 200px
    heigth 200px

