.page.container-fluid.flex-column.m-4
  img(src='../../assets/icons/logo-home.png').mt-5.icon
  .mt-5.title BEM-VINDO AO EMPRESAS
  .mt-3.subtitle Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.
  form.form.flex-column((submit)='login(loginForm)', #loginForm='ngForm')
    input.row.mt-5.p-1(type='email', [(ngModel)]='email', name='email', placeholder='E-mail', required, email)
    input.row.mt-2.p-1(type='password', [(ngModel)]='password', name='password', placeholder='Senha')
    button.row.mt-2(type='submit', [disabled]='!loginForm.form.valid') Entrar
