.page
  display flex
  align-items center
  justify-content center
  color: #383743
  width 100%
  height 100%
  .icon
  .title
    font-size: 24px
    font-weight: bold
  .subtitle
    font-size: 18px
  .form
    width 100%
    display flex
    align-items center
    justify-content center
