.page.m-5
  .enterprise(*ngIf='enterprise')
    img.img(*ngIf='enterprise.photo', [src]="'http://empresas.ioasys.com.br' + enterprise.photo")
    img.img(*ngIf='!enterprise.photo', src="../../../assets/icons/img-e-1-lista.png")
    .description.mt-3 {{enterprise.description}}
