.page
  .top-bar
    .row
      input.form-height.p-2(type='text', [(ngModel)]='name', name='name', placeholder="Pesquisar")
      select.form-height.p-2([(ngModel)]='type', name='type')
        option(value=0) Todos
        option(*ngFor='let enterpriseType of enterpriseTypes', [value]='enterpriseType.id') {{enterpriseType.enterprise_type_name}}
      button((click)='search()') Buscar
router-outlet
